* {
    text-decoration: none;
    margin : 0px;
}

body {
    background-color: azure;
    padding : 2px 0px 2px 0px;
}

nav {
    position : relative;
}

nav .menu {
    float : right;
    width: 100%;
    background-color: rgb(34, 57, 105);
    box-shadow: rgb(44, 44, 136);
    padding : 10px;
}

nav ul li {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    display : flex;
    float : right;
    padding-right: 20px;
}

a {
    color : whitesmoke;
}

a:hover {
    color : black;
}

@media (max-width:720px) {
    nav ul li {
        display : flex;
        float : right;
        padding-right : 10px;
        font-size: 13px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding-right: 10px;
    }
}